* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

.header {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;

}

.btn {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.container {
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.plus{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.title {
    margin-bottom: 20px;
    color: white;
    padding: 10px;
    background: #248b80;
    border-radius: 3px;
    text-align: left;
}

.title__container {
    display: flex;
    background: #b700ff;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    transform: translateY(50%);
}

.title__text {
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #6b6bff;
    color: #fff;
    margin-right: 2px;
    border-radius: 3px 3px 0 0;
}

.tab.active {
    background-color: #7f7fff;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.table-input {
    text-align: center;
    margin: 0 auto;
}

.red {
    background: #951717;
    white-space: pre-line;
}

.btn-table {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: flex-start;
}

.btn-submit {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #218838;
}

.btn-сancel{
    margin-left: 10px;
    padding: 10px 20px;
    background-color: grey;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-сancel:hover {
    background-color: dimgrey;
}

